.row {
    display: flex
}
span.sell {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: gainsboro;
}
.X {
    background-color: green !important
}
.O {
    background-color: yellow !important
}